*.log
.DS_Store
node_modules
dist
.env
.turbo

# Remix
apps/dashboard/.cache
apps/dashboard/.vercel
apps/dashboard/.output
apps/dashboard/build/
apps/dashboard/public/build
apps/dashboard/api/index.js
apps/dashboard/app/tailwind.css
